@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Circular Std', arial, helvetica, sans-serif;
    overflow-y:auto;
}

table th {
    background-color: #2c3f06;
    color: white;
    text-align: center !important;
}

.dropdown {
    position: relative;
}
  
.content {
    display: none;
    position: absolute;
    background-color: #fff;
    width:250px;
    z-index: 1;
    left:0;
    padding:15px 15px;
    font-size: 25px;
}

.dropdown:hover .content {
    display: block;
}

.menu {
    @apply grid grid-flow-col justify-items-center items-center text-[1rem] sm:text-3xl font-bold text-orange-400;
}

.page-title {
    @apply px-6 py-2 cursor-pointer hover:text-orange-700;
}

.subpage-title {
    @apply text-orange-400 hover:text-orange-700 cursor-pointer;
}

.general-input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.text-area {
    @apply block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
.check-box {
    @apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600;
}

.check-box-label {
    @apply ml-2 text-sm font-medium text-gray-900 dark:text-gray-300;
}
.submit-btn {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}

@layer utilities {
    .min-h-full {
        min-height: calc(100vh - 80px);
    }
}